.bannerSection{
    position:relative;
    z-index: -9999;
}

.bannerSection h1{
    color:#ffd7ad;
    margin-top:0;
    margin-bottom:5%;
}

.bannerSection .bannerContent{
    position:absolute;
    top:15%;
    left:5%;
    width:45%;
}

.bannerSection .bannerContent img{
    width:30%;
}

.bannerSection .bannerContent p{
    font-size:1.7vw;
    padding-bottom:50px;
    padding-top:20px;
    font-weight: 400;
} 

@media only screen and (max-width: 991px) {
    .bannerSection .bannerContent p{
        padding-top:0;
        padding-bottom:15px;
    }

}

@media only screen and (max-width: 767px) {
    .bannerSection .bannerContent p{
        padding-top:0;
        padding-bottom:10px;
    }

   

}